{{ ansible_managed | comment }}
#
#  AGENT BEHAVIOUR
#

#  Listen for connections from the local system only
#agentAddress  udp:127.0.0.1:161
#  Listen for connections on all interfaces (both IPv4 *and* IPv6)
#agentAddress udp:161,udp6:[::1]:161
agentAddress udp:161


###############################################################################
# Access Control
###############################################################################
com2sec readonly  default {{snmp_community_ro}}

####
# Second, map the security names into group names:

#               sec.model  sec.name
group MyROSystem v1        paranoid
group MyROSystem v2c       paranoid
group MyROSystem usm       paranoid
group MyROGroup v1         readonly
group MyROGroup v2c        readonly
group MyROGroup usm        readonly
group MyRWGroup v1         readwrite
group MyRWGroup v2c        readwrite
group MyRWGroup usm        readwrite

####
# Third, create a view for us to let the groups have rights to:

#           incl/excl subtree                          mask
view all    included  .1                               80
view system included  .iso.org.dod.internet.mgmt.mib-2.system.sysDescr

####
# Finally, grant the 2 groups access to the 1 view with different
# write permissions:

#                context sec.model sec.level match  read   write  notif
access MyROSystem ""     any       noauth    exact  system none   none
access MyROGroup ""      any       noauth    exact  all    none   none
access MyRWGroup ""      any       noauth    exact  all    all    none

# needed for DISMAN
#  note that these particular settings don't actually belong here.
#  they should be copied to the file /var/lib/snmp/snmpd.conf
#     and the passwords changed, before being uncommented in that file *only*.
#  then restart the agent
createUser      snet_internal   MD5 "{{snmp_community_trap}}"
iquerySecName   snet_internal
rouser          snet_internal

# -----------------------------------------------------------------------------


###############################################################################
# System contact information
#

# It is also possible to set the sysContact and sysLocation system
# variables through the snmpd.conf file.  **PLEASE NOTE** that setting
# the value of these objects here makes these objects READ-ONLY
# (regardless of any access control settings).  Any attempt to set the
# value of an object whose value is given here will fail with an error
# status of notWritable.

syslocation {{ ansible_snet_syslocation }}
syscontact DIGIT SNET
sysservices 72

###############################################################################
# Process checks.
#
#  The following are examples of how to use the agent to check for
#  processes running on the host.  The syntax looks something like:
#
#  proc NAME [MAX=0] [MIN=0]
#
#  NAME:  the name of the process to check for.  It must match
#         exactly (ie, http will not find httpd processes).
#  MAX:   the maximum number allowed to be running.  Defaults to 0.
#  MIN:   the minimum number to be running.  Defaults to 0.

# networker
proc nsrexecd

# cron
proc cron

# ntp
proc ntpd

# ssh
proc sshd

###############################################################################
# disk checks
#

# The agent can check the amount of available disk space, and make
# sure it is above a set limit.

# disk PATH [MIN=DEFDISKMINIMUMSPACE]
#
# PATH:  mount path to the disk in question.
# MIN:   Disks with space below this value will have the Mib's errorFlag set.
#        Default value = DEFDISKMINIMUMSPACE.

# Check the / partition and make sure it contains at least 10 megs.

#disk / 10000

# systems partitions should contains at least 100M
{% for item in ansible_mounts: %}
{% if '/home/' not in item.mount: %}
disk {{item.mount}} 100000
{% endif %}
{% endfor %}

# and basically all disk must constains at least 10% of free space
includeAllDisks 10%

###############################################################################
# load average checks
#

# load [1MAX=DEFMAXLOADAVE] [5MAX=DEFMAXLOADAVE] [15MAX=DEFMAXLOADAVE]
#
# 1MAX:   If the 1 minute load average is above this limit at query
#         time, the errorFlag will be set.
# 5MAX:   Similar, but for 5 min average.
# 15MAX:  Similar, but for 15 min average.

# Check for loads:
load 12 14 14

###############################################################################
#
#  ACTIVE MONITORING
#

# snet_environment: {{ snet_environment }}

{% if snet_environment == "production": %}
{% for item in snmp_trapd: %}
trap2sink {{item}} {{snmp_community_trap}}
{% endfor %}
{% endif %}

# send traps on authentication failures
authtrapenable  1

# generate traps on UCD error conditions
defaultMonitors          yes

# generate traps on linkUp/Down
linkUpDownNotifications  yes

{# Adding specific override to provide the missing system information if needed:
  - HP:
    - Model 1.3.6.1.4.1.232.2.2.4.2
    - S/N 1.3.6.1.4.1.232.2.2.2.1

  - Dell:
    - Service Tag 1.3.6.1.4.1.674.10892.1.300.10.1.11
#}

{% if not ansible_snet_is_virtual: %}
override .1.3.6.1.4.1.99999.1.0 octet_str "{{ ansible_system_vendor }}"
override .1.3.6.1.4.1.99999.2.0 octet_str "{{ ansible_product_name }}"
override .1.3.6.1.4.1.99999.3.0 octet_str "{{ ansible_product_serial }}"
{% endif %}
override .1.3.6.1.4.1.99999.4.0 octet_str "{{ ansible_system }}"
override .1.3.6.1.4.1.99999.5.0 octet_str "{{ ansible_os_family }}"
override .1.3.6.1.4.1.99999.6.0 octet_str "{{ ansible_distribution_release }}"

