{{ ansible_managed | comment }}

mibdirs /usr/share/mibs/site
mibdirs +/usr/share/snmp/mibs
mibdirs +/usr/share/mibs/iana
mibdirs +/usr/share/mibs/ietf
mibdirs +/usr/share/mibs/netsnmp
mibdirs +/usr/share/mibs/snet

mibreplacewithlatest  yes
mibs ALL
