{{ ansible_managed | comment }}
# This file controls the activity of snmpd and snmptrapd

# MIB directories.  /usr/share/snmp/mibs is the default, but
# including it here avoids some strange problems.
export MIBDIRS=/usr/share/mibs/site:/usr/share/snmp/mibs:/usr/share/mibs/iana:/usr/share/mibs/ietf:/usr/share/mibs/netsnmp:/usr/share/mibs/snet

export MIBS=UCD-SNMP-MIB:SNMPv2-MIB:DISMAN-EVENT-MIB

# snmpd control (yes means start daemon).
SNMPDRUN=yes

# snmpd options (use syslog, close stdin/out/err).
SNMPDOPTS='-LS5d -Lf /dev/null -u snmp -g snmp -I -smux -p /var/run/snmpd.pid'

# snmptrapd control (yes means start daemon).  As of net-snmp version
# 5.0, master agentx support must be enabled in snmpd before snmptrapd
# can be run.  See snmpd.conf(5) for how to do this.
TRAPDRUN=no

# snmptrapd options (use syslog).
TRAPDOPTS='-LS6d -p /var/run/snmptrapd.pid'

# create symlink on Debian legacy location to official RFC path
SNMPDCOMPAT=yes

# allow some local configuration. It might overwrite the refconfig,
# but we don't want to enforce perl support or snmptrapd everywhere

# First in $SNMPCONFPATH:
# In addition to these two configuration files in /etc/snmp,
# the agent will read any files with the names snmpd.conf and
# snmpd.local.conf in a colon separated path specified in the
# SNMPCONFPATH environment variable.
#
# The man page is WRONG, the agent will read NOT read files
# in /etc/snmp if $SNMPCONFPATH is defined and this path
# is not included in it
#
export SNMPCONFPATH="/etc/snmp:/etc/snmp/SNET"

# then here:
if [ -r /etc/default/snmpd.local ];
then
  . /etc/default/snmpd.local
fi

