#!/bin/bash
#
{{ansible_managed|comment}}
#

function show_help () {
  echo ""
  echo " This script send an snmp trap to ack the reboot trap in SMARTS."
  echo ""
  echo " -m message is mandatory"
  echo "Options are:"
  echo " -v: Verbose mode"
  exit 255
}

# Reset in case getopts has been used previously in the shell.
OPTIND=1
DEBUG=0
ACK_MSG=''

while getopts "h?vm:" opt; do
    case "$opt" in
    m)  ACK_MSG="$OPTARG"
        ;;
    v)  DEBUG=1
        ;;
    h|\?)
        show_help
        exit 0
        ;;
    esac
done

if [ -z "${ACK_MSG}" ]; then
  echo "message is not given as parameter."
  echo "----------"
  show_help
  exit 1
fi

if [ "A$ACK_MSG" = "A" ]; then
  echo "message is empty."
  echo "----------"
  show_help
  exit 1
fi

SNET_SNMP_TRAP_CMD=/usr/bin/snmptrap
SNET_SNMP_HOST="{{ groups['service_smarts'] | join(', ') }}"
SNET_SNMP_PORT=162
SNET_SNMP_TRAP_COMMUNITY="snmc-trap"
SNET_SNMP_TRAP_OID=".1.3.6.1.4.1.99999.37"
SNET_SNMP_TRAP_GENERIC=6
SNET_SNMP_TRAP_SPECIFIC=1
HOSTNAME=$(/bin/hostname --fqdn)
UPTIME=$(</proc/uptime)
UPTIME=${UPTIME%%.*}
HOSTCONS=$(/bin/hostname --fqdn)
{% if ansible_system_vendor == 'HP' %}
HOSTCONS="$(/bin/hostname --short)-ilo.$(/bin/hostname --domain)"
{% endif %}

export SNMP_PERSISTENT_DIR="/tmp/"

for SNET_SNMP_host in $SNET_SNMP_HOST;
do
  if [ "A${DEBUG}" == "A1" ]; then
    echo "$SNET_SNMP_TRAP_CMD -v 1 -c $SNET_SNMP_TRAP_COMMUNITY $SNET_SNMP_host $SNET_SNMP_TRAP_OID $HOSTNAME $SNET_SNMP_TRAP_GENERIC $SNET_SNMP_TRAP_SPECIFIC '$UPTIME' ${SNET_SNMP_TRAP_OID}.1 s '${HOSTNAME}' ${SNET_SNMP_TRAP_OID}.2 s '${ACK_MSG}' ${SNET_SNMP_TRAP_OID}.3 s 'all_ok' "

  fi
  $SNET_SNMP_TRAP_CMD -v 1 -c $SNET_SNMP_TRAP_COMMUNITY $SNET_SNMP_host $SNET_SNMP_TRAP_OID $HOSTNAME $SNET_SNMP_TRAP_GENERIC $SNET_SNMP_TRAP_SPECIFIC $UPTIME ${SNET_SNMP_TRAP_OID}.1 s "${HOSTNAME}" ${SNET_SNMP_TRAP_OID}.2 s "${ACK_MSG}" ${SNET_SNMP_TRAP_OID}.3 s "all_ok"

{% if ansible_system_vendor == 'HP' %}

$SNET_SNMP_TRAP_CMD -v 1 -c $SNET_SNMP_TRAP_COMMUNITY $SNET_SNMP_host $SNET_SNMP_TRAP_OID $HOSTCONS $SNET_SNMP_TRAP_GENERIC 3 $UPTIME ${SNET_SNMP_TRAP_OID}.1 s "${HOSTCONS}" ${SNET_SNMP_TRAP_OID}.2 s "cpqSm2ServerReset - ${HOSTCONS}" ${SNET_SNMP_TRAP_OID}.3 s "Ansible auto ack"

{% endif %}

done

exit 0
