{{ ansible_managed | comment }}

deb http://{{debian_mirror}}/debian/ {{ansible_distribution_release}} main contrib non-free
deb http://{{debian_mirror}}/debian/ {{ansible_distribution_release}}-updates main contrib non-free
