{{ ansible_managed | comment('c') }}
APT
{
  NeverAutoRemove
  {
  "^firmware-linux.*";
  "^linux-firmware$";
  "^linux-image-[a-z0-9]*$";
  "^linux-image-[a-z0-9]*-[a-z0-9]*$";
  };

  VersionedKernelPackages
  {
  # kernels
  "linux-.*";
  "kfreebsd-.*";
  "gnumach-.*";
  # (out-of-tree) modules
  ".*-modules";
  ".*-kernel";
  };

  Never-MarkAuto-Sections
  {
  "metapackages";
  "contrib/metapackages";
  "non-free/metapackages";
  "restricted/metapackages";
  "universe/metapackages";
  "multiverse/metapackages";
  };

  Move-Autobit-Sections
  {
  "oldlibs";
  "contrib/oldlibs";
  "non-free/oldlibs";
  "restricted/oldlibs";
  "universe/oldlibs";
  "multiverse/oldlibs";
  };
};
