{{ ansible_managed | comment('c') }}
// http://sources.debian.net/src/apt/1.0.9.8.3/apt-pkg/deb/dpkgpm.cc/#L1292
// Pre-Install-Pkgs is the only one called with RunScriptsWithPkgs
// http://sources.debian.net/src/apt/1.0.9.8.3/apt-pkg/deb/dpkgpm.cc/#L412
// This looks for a list of scripts to run from the configuration file
// each one is run and is fed on standard input a list of all .deb files
// that are due to be installed.
DPkg::Pre-Install-Pkgs {"xargs /usr/local/sbin/snet-pkg-check";};
Acquire::Languages "en";
