{{ ansible_managed | comment('c') }}
Acquire {
  // HTTP method configuration
  http {
{% if apt_proxy %}    
    Proxy "{{apt_proxy}}";
{% endif %}
    Proxy::{{ groups['service_debian_proxy'] | join(', ') }} "DIRECT";
    Timeout "120";
  };
  https {
{% if apt_proxy %}    
    Proxy "{{apt_proxy}}";
{% endif %}
    Proxy::{{ groups['service_debian_proxy'] | join(', ') }} "DIRECT";
    Timeout "120";
  };
};
