{{ ansible_managed | comment }}

deb [signed-by=/usr/share/keyrings/debian-archive-keyring.gpg] http://deb.debian.org/debian {{ ansible_distribution_release }} main
deb [signed-by=/usr/share/keyrings/debian-archive-keyring.gpg] http://deb.debian.org/debian {{ ansible_distribution_release }}-updates main
deb [signed-by=/usr/share/keyrings/debian-archive-keyring.gpg] http://deb.debian.org/debian-security {{ ansible_distribution_release }}-security main

