#!/bin/bash
{{ ansible_managed | comment }}
# DVE

# Ensure we're running as root
if [ "$(id -u)" != 0 ]; then
  echo "ERROR: This script must run as root.  Hint..." 1>&2
  echo "  sudo $0 $@" 1>&2
  exit 1
fi

# Kernel in II

LIST=($(dpkg -l | grep -E "(linux-image|linux-headers|linux-signed-image|linux-image-virtual)" | grep '^ii' | awk '{ print $2 }' |grep -v linux-image-amd64 | grep -v $(uname -r)))
CURR=$(dpkg -l | grep -E "(linux-image|linux-headers|linux-signed-image|linux-image-virtual)" | grep '^ii' | awk '{ print $2 }' |grep -v linux-image-amd64 | grep $(uname -r))
for k in "${LIST[@]}"; do echo $k; done
CURR_VER=$(dpkg-query -f='${Version}\n' --show ${CURR})
for k in "${LIST[@]}"; do echo $k; kv=$(dpkg-query -f='${Version}\n' --show ${k}); if $(dpkg --compare-versions "${kv}" "lt" "${CURR_VER}"); then echo true; fi ; done

PURGE=""
for k in "${LIST[@]}"; do echo $k; kv=$(dpkg-query -f='${Version}\n' --show ${k}); if $(dpkg --compare-versions "${kv}" "lt" "${CURR_VER}"); then PURGE="$PURGE ${k}"; fi ; done

if [ -z "$PURGE" ]; then
  echo "No kernels are eligible for removal"
else
  echo "Going to purge kernel $PURGE"
  /usr/bin/apt remove --purge -y $PURGE
fi

# Kernel in RC

LIST=($(dpkg -l | grep -E "(linux-image|linux-headers|linux-signed-image|linux-image-virtual)" | grep '^rc' | awk '{ print $2 }' |grep -v linux-image-amd64 | grep -v $(uname -r)))
for k in "${LIST[@]}"; do echo $k; done
for k in "${LIST[@]}"; do echo "Purging $k"; /usr/bin/dpkg --purge $k; done

exit 0
