#!/bin/bash
{{ ansible_managed | comment }}
# DVE
#echo "Called $(date)" >> /tmp/dve_pkg.test
for p in $*
  do
    #echo "$p" >> /tmp/dve_pkg.test
    STATUS=`echo "$p" | grep -f /etc/apt/snet_reboot_notify | wc -l`
    if [ "A${STATUS}" == "A1" ]; then
      touch /var/run/reboot-required
    fi
  done
exit 0
