#!/bin/sh
# vim: set filetype=sh syntax=sh
# (c) Jupa SNET 2012
# (c) dve  SNet 2012-2013
# (wtfpl) mba later on
# This script:
# alerts smarts if packages updates are pending (not done by apt not puppet)
# alerts smarts if a reboot is needed (kernel or libc or init upgrade)
# restart services using outdated files, if not present in a blacklist
# alerts smarts if some services were not restarted (see above), or failed

set -e

ERRC=0
UP=0

SNMP_TRAP_BIN="/usr/bin/snmptrap"
SMARTS_SERVERS="{{ groups['service_smarts'] | join(', ') }}"
SNMP_OID='.1.3.6.1.4.1.99999.16.'
SNMP_COLOR_red='1'
SNMP_COLOR_orange='2'
SNMP_COLOR_yellow='3'
SNMP_COLOR_blue='4'

# uncomment to send trap even in interactive mode
#APTSECUDP_SEND_TRAP=1

PROGRAM="APT-SEC-UDP"

REBOOT_NEEDED="/var/run/reboot-required"

WHO=
RWHO=
LOGDIR=
LOGFILE=
WLOG=
INTERACTIVE=
LOGGER="/usr/bin/logger"

WHERE=`hostname | tr "[:upper:]" "[:lower:]"`

LC_ALL=C
export LC_ALL

gottty() {
  if tty -s >>/dev/null 2>&1;
  then
    INTERACTIVE=1
  fi
}

fixperms() {
  # manage_internal_file_permissions will "fix" logdir to "0755"
  if [ -d "$LOGDIR" ];
  then
    chmod '0755' "$LOGDIR" || true
    return 0
  fi
  return 1
}

prepare_logdir() {

  WHO=`basename $0`
  RWHO=`expr "$WHO" : "^snet-puppet-\(.*\)"`

  if [ -n "$INTERACTIVE" ];
  then
    WLOG=
    LOGGER=
    echo "Interactive mode detected, disabling logger"
    return 0
  fi

  LOGDIR="/var/log/apt/"
  mkdir -p "$LOGDIR" || true

  if ! fixperms;
  then
    echo "unable to write to \`$LOGDIR', disabling logging" >&2
    return 1
  fi

  if [ -n "$RWHO" ];
  then
    LOGFILE="$LOGDIR/$RWHO.log"
  else
    LOGFILE="$LOGDIR/$WHO.log"
  fi
  touch "$LOGFILE" || true

  if [ -f "$LOGFILE" ];
  then
    if [ -w "$LOGFILE" ];
    then
      WLOG="$LOGFILE"
    else
      LOGFILE=/dev/null
    fi
  else
    LOGFILE=/dev/null
  fi

  if [ "$LOGFILE" = "x/dev/null" ];
  then
    echo "unable to write to \`$WLOG', disabling logging" >&2
    return 2
  fi

  return 0

}

print_logger() {

  MSG="$*"

  if [ -n "$WLOG" ];
  then
    NOW=`date "+%b %d %T"`
    echo "$NOW $WHERE $WHO: $MSG" >> $LOGFILE
  fi

  if [ -z "$LOGGER" ];
  then
    return 0
  elif [ -x "$LOGGER" ];
  then
    if ! logger --id --tag "$WHO" --priority "user.debug" "$MSG";
    then
      echo "$NOW $WHERE $WHO: disabling syslog ($LOGGER failed)" >> $LOGFILE
      LOGGER=
    fi
  else
    echo "$NOW $WHERE $WHO: disabling syslog (can't run $LOGGER)" >> $LOGFILE
    LOGGER=
  fi

}

print_stdout() {
  print_logger $*
  echo "$MSG"
}

print_stderr() {
  print_logger $*
  echo "$MSG" >&2
}

check_root() {
  if test `id -u --real` -ne 0;
  then
    echo "This script must be run as root, aborting" >&2
    exit 1
  fi
}

# usage:
#   send_snmp_trap <msg>
#   send_snmp_trap <msg> [info]
#   send_snmp_trap <msg> [color] [info]
send_snmp_trap() {

  if [ -z "$SNMP_TRAP_BIN" ];
  then
    return 0
  fi

  if [ -z "$APTSECUDP_SEND_TRAP" ];
  then
    if [ -z "$INTERACTIVE" ];
    then
      APTSECUDP_SEND_TRAP=1
    fi
  fi

  if [ ! -x "$SNMP_TRAP_BIN" ];
  then
    print_stderr "Can't execute $SNMP_TRAP_BIN, disabling snmp trap"
    SNMP_TRAP_BIN=
    return 0
  fi

  if [ -z "$1" ];
  then
    return 0
  fi

  snmp_msg="$1"
  shift

  case "$1" in
    red)
      OID="${SNMP_OID}${SNMP_COLOR_red}"
      shift
      ;;
    orange)
      OID="${SNMP_OID}${SNMP_COLOR_orange}"
      shift
      ;;
    yellow)
      OID="${SNMP_OID}${SNMP_COLOR_yellow}"
      shift
      ;;
    blue)
      OID="${SNMP_OID}${SNMP_COLOR_blue}"
      shift
      ;;
    *)
      OID="${SNMP_OID}${SNMP_COLOR_blue}"
      ;;
  esac

  if [ -n "$1" ];
  then
    snmp_info=$1
  else
    snmp_info="info: none"
  fi

  if [ -n "$APTSECUDP_SEND_TRAP" ];
  then
    SNMP_HEADER="Sending"
  else
    SNMP_HEADER="Should send"
  fi

  for ip in $SMARTS_SERVERS;
  do
    print_debug "$SNMP_HEADER trap to $ip: ${OID} ${OID}.1 s \"$WHERE\" ${OID}.2 s \"$WHO\" ${OID}.3 s \"$snmp_msg\" ${OID}.4 s \"$snmp_info\""
    if [ -n "$APTSECUDP_SEND_TRAP" ];
    then
      $SNMP_TRAP_BIN -M "" -v 2c -c snmc-trap $ip '' ${OID} ${OID}.1 s "$WHERE" ${OID}.2 s "$WHO" ${OID}.3 s "$snmp_msg" ${OID}.4 s "$snmp_info" || true
    fi
  done

}

send_red_trap() {
  send_snmp_trap "$1" 'red' "$2"
}

send_orange_trap() {
  send_snmp_trap "$1" 'orange' "$2"
}

send_yellow_trap() {
  send_snmp_trap "$1" 'yellow' "$2"
}

send_blue_trap() {
  send_snmp_trap "$1" "$2"
}

send_red_message() {
  print_stderr "$1#$SNMP_COLOR_red#$2"
  send_red_trap "$1" "$2"
}

send_yellow_message() {
  print_stderr "$1#$SNMP_COLOR_yellow#$2"
  send_yellow_trap "$1" "$2"
}

send_orange_message() {
  print_stderr "$1#$SNMP_COLOR_orange#$2"
  send_orange_trap "$1" "$2"
}

send_blue_message() {
  print_stderr "$1#$SNMP_COLOR_blue#$2"
  send_blue_trap "$1" "$2"
}

print_debug() {
  WHO=$OLDWHO
  print_stdout "$*"
  WHO=$PROGRAM
}

print_warning() {
  WHO=$OLDWHO
  print_stderr "$*"
  WHO=$PROGRAM
}

aptupdate() {

  ERROR=
  INFO=

  # check apt-config existence
  if which apt-config >/dev/null;
  then

    # check if /etc/cron.daily/apt already ran earlier
    AutoAptEnable=1  # default is yes
    eval $(apt-config shell AutoAptEnable APT::Periodic::Enable)
    if [ $AutoAptEnable -eq 1 ]; then
      print_debug "No need to run apt-get update has apt cron is enabled"
      return 0
    fi

  fi

  MAX_APT_UP_CNT=5
  WAIT_APT_UP=60
  APT_UP_CNT=0
  UPDT=5

  while [ $UPDT -ne 0 ];
  do

    APT_UP_CNT=`expr $APT_UP_CNT + 1`
    print_debug "Running apt-get update (try=$APT_UP_CNT) ..."

    if /usr/bin/apt-get update -qq -u >>/dev/null 2>&1;
    then
      print_debug "update successfull"
      break
    fi

    print_warning "apt-get update failed"

    if [ $APT_UP_CNT -gt $MAX_APT_UP_CNT ];
    then
      print_warning "max retry reached ($MAX_APT_UP_CNT), aborting"
      break
    fi

    print_warning "waiting $WAIT_APT_UP before retrying ..."

    sleep ${WAIT_APT_UP}

  done


  if [ $UPDT -ne 0 ];
  then

    ERROR="Error when refreshing updates on $WHERE"
    INFO="cause: apt-get update failed"

    send_red_message "$ERROR" "$INFO"

  fi

  return 0

}

upgrade_needed() {

  ERROR=
  INFO=

  if ! PKG=`/usr/bin/apt-get -s -u upgrade|awk '($1 == "Conf"){print $2}'|xargs`;
  then
    print_warning "Unable to get the list of upgradable packages"
    return 1
  fi

  if [ -z "$PKG" ];
  then
    print_debug "No package needs to be upgraded on $WHERE"
    return 0
  fi

  ERROR="Upgrade of packages on $WHERE are required"
  INFO="packages: $PKG"

  send_red_message "$ERROR" "$INFO"

  return 0

}

_needrestart() {

  NR=

  if [ ! -x /usr/sbin/needrestart ];
  then
    print_warning "Unable to execute /usr/sbin/needrestart"
    NR='.'
    return 1
  fi

  print_debug "Running /usr/sbin/needrestart -bv ..."

  while read l;
  do
    if PRG=`expr "$l" : '^NEEDRESTART-SVC:\s\+\(.\+\)'`;
    then
      NR="$PRG $NR"
    fi
    print_debug "$l"
  done << _EOT_
`/usr/sbin/needrestart -bv 2>&1`
_EOT_

  return 0

}

_checkrestart() {

  CR=

  if [ ! -x /usr/sbin/checkrestart ];
  then
    print_warning "Unable to execute /usr/sbin/checkrestart"
    CR='.'
    return 1
  fi

  print_debug "Running /usr/sbin/checkrestart -vp ..."

  while read l;
  do
    if PRG=`expr "$l" : '^service\s\+\(\S\+\)\s\+restart'`;
    then
      CR="$PRG $CR"
    fi
    print_debug "$l"
  done << _EOT_
`/usr/sbin/checkrestart -vp`
_EOT_

  return 0

}

_add_to_svc() {
  if [ -z "$1" ];
  then
    return 0
  fi
  for i in $*;
  do
    if [ -z "$SVC" ];
    then
      SVC="$i"
    else
      SVC="$SVC $i"
    fi
  done
  return 0
}

_restart_needed() {

  _needrestart || true
  _checkrestart || true

  if [ "..." = ".$NR$CR" ];
  then
    send_blue_trap 'Failed to list upgradable packages' 'Runagain: checkrestart, needrestart'
    return 1
  elif [ -z "$NR$CR" ];
  then
    print_debug "No service needs to be restarted on $WHERE"
    return 0
  fi

  MERGE=`echo "$NR $CR"|xargs -n1|sort -u|xargs`
  SVC=
  for i in $MERGE;
  do
    case "$i" in
      sysv|init|sysvinit-core)
        touch "$REBOOT_NEEDED" || true
        print_debug "Marking reboot as needed as $i must be restarted"
        ;;
      cron)
        print_debug "Ignoring $i as a false-positive"
        ;;
      *)
        _add_to_svc "$i"
        ;;
    esac
  done

  if [ -z "$SVC" ];
  then
    print_debug "No service needs to be restarted on $WHERE"
  fi

  return 0

}

_has_init_script() {
  if [ -z "$1" ];
  then
    return 2
  fi
  if [ -f "/etc/init.d/$1" ];
  then
    return 0
  fi
  if [ -f "/etc/init/${1}.conf" ];
  then
    return 0
  fi
  return 1
}

_restart_services() {

  TODO="$SVC"
  SVC=
  FAILED=

  if [ -r "/etc/needrestart/snet-blacklist" ];
  then

    for i in $TODO;
    do
      if echo "$i"|grep -m1 -q -x -F -f "/etc/needrestart/snet-blacklist";
      then
        print_warning "Ignoring service $i as it is part of /etc/needrestart/snet-blacklist"
        _add_to_svc "$i"
      elif _has_init_script "$i";
      then
        print_warning "Restarting service $i ..."
        res=0
        /usr/sbin/service $i restart >>/dev/null 2>&1 || res=$?
        if [ $res -eq 0 ];
        then
          print_warning "Service $i restarted"
        else
          if [ -z "$FAILED" ];
          then
            FAILED=$i
          else
            FAILED="$FAILED $i"
          fi
          _add_to_svc "$i"
        fi
      else
        print_debug "Ignoring service $i has not init script was found"
      fi
    done

    if [ -n "$FAILED" ];
    then
      send_red_message "Failed to restart service on $WHERE" "failed: $FAILED"
    fi

  else
    SVC=$TODO
  fi

  return 0

}

restart_needed() {

  ERROR=
  INFO=

  if ! _restart_needed;
  then
    return 1
  fi

  _restart_services || true

  if [ -z "$SVC" ];
  then
    return 0
  fi

  ERROR="Restart of services on $WHERE is required"
  INFO="services: $SVC"

  send_orange_message "$ERROR" "$INFO"

  return 0

}

reboot_needed() {

  ERROR=
  INFO=

  if [ -f "$REBOOT_NEEDED" ];
  then

    INFO="cause: package(s) upgrade"

  elif [ -x /usr/sbin/needrestart ];
  then

    if KSTA=`/usr/sbin/needrestart -b|awk '($1 == "NEEDRESTART-KSTA:"){print $2;exit}'`;
    then

      if [ $KSTA -ne 1 ];
      then
        INFO="cause: new kernel detected"
      fi

    else
      ERROR="Unable to check kernels on $WHERE"
      INFO="needrestart failed"
      send_blue_trap "$ERROR" "$INFO"
      return 1
    fi

  fi

  if [ -z "$INFO" ];
  then
    print_debug "No need to reboot $WHERE"
    return 0
  fi

  send_orange_message "Reboot of $WHERE is required" "$INFO"

  return 0

}

pre_run() {
  check_root
  gottty || true
  prepare_logdir || true
}

post_run() {
  fixperms || true
}

main() {
  pre_run
  res=0
  if [ -n "$RWHO" ];
  then
    print_stdout "starting puppet $RWHO"
  else
    print_stdout "starting $WHO"
  fi
  do_main || res=$?
  post_run
  if [ -n "$RWHO" ];
  then
    print_stdout "return code from $RWHO: $res"
  else
     print_stdout "return code from $WHO: $res"
  fi
  return $res
}

do_main() {

  OLDWHO=$WHO
  WHO="$PROGRAM"

  aptupdate || true
  upgrade_needed || true
  restart_needed || true
  reboot_needed || true

  WHO=$OLDWHO

}

main

