{{ ansible_managed | comment }}

services:
  netbox:
    volumes:
      - /etc/ssl/certs:/etc/ssl/certs:ro
      - /etc/ldap:/etc/ldap:ro
      - /usr/local/share/ca-certificates/snetroot/:/usr/local/share/ca-certificates/snetroot/
      - ./configuration/configuration.py:/etc/netbox/config/configuration.py:z,ro
      - ./configuration/extra.py:/etc/netbox/config/extra.py:z,ro
      - ./configuration/ldap:/etc/netbox/config/ldap:z,ro
      - ./configuration/logging.py:/etc/netbox/config/logging.py:z,ro
      - netbox-media-files:/opt/netbox/netbox/media:z,rw
      - netbox-reports-files:/opt/netbox/netbox/reports:z,rw
      - netbox-scripts-files:/opt/netbox/netbox/scripts:z,rw
    ports:
      - '8080'
    labels:
      - "traefik.http.routers.netbox-http.rule=Host(`{{ansible_fqdn}}`)"
      - "traefik.http.routers.netbox-http.entrypoints=web-secure"
      - "traefik.http.routers.netbox-http.tls=true"
    networks:
      - traefik_traefiknet
    image: "code.europa.eu:4567/digit-c4/netbox-plugins:{{ TAG|default("latest", true) }}"
    environment:
      LDAP_IGNORE_CERT_ERRORS: "True"
      POSTGRES_PASSWORD: "{{ POSTGRES_PASSWORD }}"
      SUPERUSER_NAME: "{{ SUPERUSER_NAME }}"
      SUPERUSER_EMAIL: toto@example.com
      SUPERUSER_PASSWORD: "{{ SUPERUSER_PASSWORD }}"
      SKIP_SUPERUSER: "false"
      LOGLEVEL: "DEBUG"
      TIME_ZONE: "Europe/Paris"
      REMOTE_AUTH_ENABLED: "{{ REMOTE_AUTH_ENABLED|default("false", true) }}"
      REMOTE_AUTH_AUTO_CREATE_USER: "false"
      BANNER_LOGIN: "{{ BANNER_LOGIN|default("", true) }}"
      METRICS_ENABLED: "{{ METRICS_ENABLED|default("true", true) }}"
    restart: unless-stopped
  netbox-worker:
    image: "code.europa.eu:4567/digit-c4/netbox-plugins:{{ TAG|default("latest", true) }}"
    restart: unless-stopped
    depends_on:
      - netbox
    networks:
      - traefik_traefiknet
  netbox-housekeeping:
    image: "code.europa.eu:4567/digit-c4/netbox-plugins:{{ TAG|default("latest", true) }}"
    restart: unless-stopped
    depends_on:
      - netbox
    networks:
      - traefik_traefiknet
  postgres:
    ports:
      - 5432:5432
    restart: unless-stopped
    networks:
      - traefik_traefiknet
  redis:
    restart: unless-stopped
    networks:
      - traefik_traefiknet
  redis-cache:
    restart: unless-stopped
    networks:
      - traefik_traefiknet

networks:
  traefik_traefiknet:
    external: true
