input {
  http {
    port => 5044  # Or the port you choose
  }
}

output {
  syslog {
    host => "{{ syslog }}"
    port => 514
    protocol => "udp"
    codec => json
  }
  stdout { codec => rubydebug }
}
