services:
  openobserve:
    image: public.ecr.aws/zinclabs/openobserve:latest
    restart: unless-stopped
    environment:
      ZO_ROOT_USER_EMAIL: "{{ openobserve_user }}"
      ZO_ROOT_USER_PASSWORD: "{{ openobserve_password }}"
      ZO_UDP_PORT: "5514"
    ports:
      - "5080:5080"
      - "5514:5514/udp"
    logging:
      driver: json-file
      options:
        max-size: "100m"
        max-file: "5"
        compress: "true"
    volumes:
      - data:/data
volumes:
  data:
