{{ ansible_managed | comment }}

# Package generated configuration file
# See the sshd(8) manpage for details

# version of ssh protocol to use
Protocol 2

# What ports, IPs and protocols we listen for
Port 22

# Use these options to restrict which interfaces/protocols sshd will bind to
{% if snet_interface_mgt: %}
{% set real_key = snet_interface_mgt_int %}
# interface ListenAddress {{ snet_interface_mgt_int }}
# dummy bug with systemd, for now, do not bind, if not the service start before the network stack.
{% if ansible_fqdn in hostvars and real_key in hostvars[ansible_fqdn] %}
# ListenAddress {{ hostvars[ansible_fqdn][real_key]['ipv4']['address'] }}
{% else %}
# ListenAddress undefined
{% endif %}
{#% endfor %#}
{% endif %}

# HostKeys for protocol version 2
{% for item in openssh_ssh_host_key if 'ssh_host_dsa_key' not in item.file %}
HostKey {{ item.file }}
{% endfor %}

#Privilege Separation is turned on for security
UsePrivilegeSeparation yes

# Lifetime and size of ephemeral version 1 server key
{% if ansible_distribution_release == 'jessie': %}
KeyRegenerationInterval 3600
ServerKeyBits 1024
{% endif %}

# Logging
SyslogFacility AUTH
LogLevel INFO

# Authentication:
LoginGraceTime 120
PermitRootLogin no
StrictModes yes

# Deprecated stretch RSAAuthentication yes
PubkeyAuthentication yes
#AuthorizedKeysFile %h/.ssh/authorized_keys

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts yes
# For this to work you will also need host keys in /etc/ssh_known_hosts
# Deprecated stretch RhostsRSAAuthentication no
# similar for protocol version 2
HostbasedAuthentication no
# Uncomment if you don't trust ~/.ssh/known_hosts for RhostsRSAAuthentication
#IgnoreUserKnownHosts yes

# To enable empty passwords, change to yes (NOT RECOMMENDED)
PermitEmptyPasswords no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no

# Change to no to disable tunnelled clear text passwords
PasswordAuthentication yes

# Kerberos options
#KerberosAuthentication no
#KerberosGetAFSToken no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes


# GSSAPI options
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes

{% if snet_x11 %}
X11Forwarding yes
{% else %}
X11Forwarding no
{% endif %}
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
#UseLogin no

#MaxStartups 10:30:60
Banner /etc/issue.net

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server

# we need pam to allow LDAP authentication
UsePAM yes

# we don't however want DNS around
UseDNS no

# safe timers
ClientAliveInterval 300
ClientAliveCountMax 10

# start of device specific configuration



{% if 'pdnsanalyzer' in openssh_ssh_extra_role: %}

Match User pdnsupload
  PasswordAuthentication no
  PubkeyAuthentication yes
  ForceCommand internal-sftp -u 0027
  ChrootDirectory {{pdnsaz_incoming_dir}}

{% endif %}
