#!/bin/sh
{{ ansible_managed | comment() }}

set -e

ORIG=$@

exec /usr/bin/ssh-keygen.ansible $ORIG
res=$?
for param in $ORIG;
do
  case "$param" in
    /etc/ssh/ssh_known_hosts|"/etc/ssh/ssh_known_hosts")
      chmod 0644 /etc/ssh/ssh_known_hosts
      ;;
    /export/home/snet/.ssh/known_hosts|"/export/home/snet/.ssh/known_hosts")
      chmod 0644 /export/home/snet/.ssh/known_hosts
      chown snet:snet /export/home/snet/.ssh/known_hosts
      ;;
    *)
      ;;
  esac
done

exit $res
