---
providers:
  docker: {}
  file:
    directory: /etc/traefik
    watch: true

api:
 insecure: true

entrypoints:
  web:
    address: ":80"
    http:
      redirections:
        entrypoint:
          to: web-secure
          scheme: https
          permanent: true
  web-secure:
    address: ":443"

tls:
  stores:
    default:
      defaultCertificate:
        certFile: /etc/traefik/ssl/{{ ansible_nodename }}-signed.pem
        keyFile:  /etc/traefik/ssl/{{ ansible_nodename }}-export.pem

accessLog: {}

