version: '3.0'

services:

  traefik:
    image: traefik:{{ traefik_docker_tag }}
    container_name: {{ traefik_container_name }}
    restart: always
    ports:
      - '80:80'
      - '443:443'
      - '8080:8080'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ traefik_opt_snet_container_project }}/etc_traefik/traefik.yml:/etc/traefik/traefik.yml
      - {{ traefik_opt_snet_container }}/ssl:/etc/traefik/ssl
    networks:
      - traefiknet


networks:
  traefiknet:
    driver: bridge
