NO_PROXY={{NO_PROXY}}
HTTP_PROXY={{http_proxy}}
HTTPS_PROXY={{http_proxy}}
DJANGO_SUPERUSER_PASSWORD={{DJANGO_SUPERUSER_PASSWORD}}
POSTGRES_DEFAULT_PASSWORD={{POSTGRES_PASSWORD}}
POSTGRES_DEFAULT_USER={{POSTGRES_USER}}
AWX_SECRET_KEY={{AWX_SECRET_KEY}}
