{{ ansible_managed | comment }}

services:
  awx_1:
    ports:
      - "8013"
    labels:
      - "traefik.http.routers.awx-http.rule=Host(`{{ansible_fqdn}}`)"
      - "traefik.http.routers.awx-http.entrypoints=web-secure"
      - "traefik.http.routers.awx-http.tls=true"
      - "traefik.http.services.wso.loadbalancer.server.port=8013"
    networks:
      - traefik_traefiknet
    restart: unless-stopped
  redis_1:
    restart: unless-stopped
    networks:
      - traefik_traefiknet
  postgres:
    restart: unless-stopped
    networks:
      - traefik_traefiknet

networks:
  traefik_traefiknet:
    external: true
