---
groups:
  - name: Basic Alerts
    rules:
      - alert: InstanceDown
        expr: up == 0
        for: 5m
        labels:
          severity: "critical"
          service: "{{ bubble }}"
        annotations:
{% raw %}          description: "The instance is down: {{ $labels.instance }} has been down for more than 5 minutes."
          summary: "Instance {{ $labels.instance }} is down"
{% endraw %}

  - name: High Utilization
    rules:
      - alert: HighCPUUtilization
        expr: rate(node_cpu_seconds_total{cpu="0", mode="user"}[5m]) * 100 > 80
        for: 5m
        labels:
          severity: "critical"
          service: "{{ bubble }}"
        annotations:
{% raw %}          description: "The CPU utilization is high: on host {{ $labels.instance }} has exceeded 80% for 5 minutes."
          summary: "High CPU utilization on host {{ $labels.instance }}"
{% endraw %}

      - alert: HighDiskUtilization
        expr: avg_over_time((100 * node_filesystem_avail_bytes{mountpoint="/"} / node_filesystem_size_bytes{mountpoint="/"} ) [5m:1m]) < 20
        for: 5m
        labels:
          severity: "critical"
          service: "{{ bubble }}"
        annotations:
{% raw %}          description: "The overall Disk utilization is high: on host {{ $labels.instance }} has exceeded 80% for 5 minutes."
          summary: "High Disk utilization on host {{ $labels.instance }}"
{% endraw %}

      - alert: HighMemoryUtilization
        expr: avg_over_time(((node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes) * 100)[5m:1m]) < 20
        for: 5m
        labels:
          severity: "critical"
          service: "{{ bubble }}"
        annotations:
{% raw %}          description: "The Memory utilization is high: on host {{ $labels.instance }} has exceeded 80% for 5 minutes."
          summary: "High Memory utilization on host {{ $labels.instance }}"
{% endraw %}

  - name: Netbox-docker-agent Monitoring
    rules:
      - alert: ContainerExited
        expr: netbox_docker_agent_container_exited == 1
        for: 5m 
        labels:
          severity: critical
          service: "{{ bubble }}"
        annotations:
{% raw %}          description: "Container {{ $labels.name }} Exited: The Container {{ $labels.name }} has been exited for more than 5 minutes."
          summary: "Container {{ $labels.name }} is exited"
{% endraw %}

      - alert: ContainerStopped
        expr: netbox_docker_agent_container_stopped == 1
        for: 5m
        labels:
          severity: critical
          service: "{{ bubble }}"
        annotations:
{% raw %}          description: "Container {{ $labels.name }} Stopped: The Container {{ $labels.name }} has been stopped for more than 5 minutes."
          summary: "Container {{ $labels.name }} is stopped"
{% endraw %}

      - alert: DaemonConnection
        expr: netbox_docker_agent_docker_daemon == 0
        for: 5m
        labels:
          severity: critical
          service: "{{ bubble }}"
        annotations:
{% raw %}          description: "Docker Daemon failed to connect: The Instance {{ $labels.instance }} failed to connect to the docker daemon for more than 5 minutes."
          summary: "The Instance {{ $labels.instance }} failed to connect to the docker daemon."
{% endraw %}

  - name: Blackbox HTTP Monitoring
    rules:
      - alert: HttpServiceDown
        expr: probe_success{job=~"blackbox_http_(2xx|403)"} == 0
        for: 5m
        labels:
          severity: critical
          service: "{{ bubble }}"
        annotations:
{% raw %}          description: "Service {{ $labels.name }} Down: The service {{ $labels.name }} has been down for more than 5 minutes."
          summary: "Service {{ $labels.name }} is down"
{% endraw %}

  - name: DNS resolution
    rules:
      - alert: DNSResolutionFailure
        expr: probe_success{job=~"blackbox_resolve_.*"} != 1
        for: 5m
        labels:
          severity: critical
          service: "{{ bubble }}"
        annotations:
{% raw %}          description: "Service {{ $labels.name }} Down: DNS resolution failed"
          summary: "Service {{ $labels.name }} is down"
{% endraw %}

  - name: ICMP probing
    rules:
      - alert: ICMPProbingFailure
        expr: probe_success{job="blackbox_ping"} != 1
        for: 5m
        labels:
          severity: critical
          service: "{{ bubble }}"
        annotations:
{% raw %}          description: "Service {{ $labels.name }} Down: ICMP probing failed"
          summary: "Service {{ $labels.name }} is down"
{% endraw %}

  - name: OVPN Monitoring
    rules:
      - alert: RAS:OpenVPN:High:Session
        expr: ovpn_sessions_total > 1300
        labels:
          severity: critical
          service: "ras-lu"
        annotations:
{% raw %}          description: "OpenVPN High Session: {{ $value }} sessions on {{ $labels.alias }} > 1300"
          summary: "OpenVPN High Session"
{% endraw %}

      - alert: RAS:High:Network:Packets:Receive
        expr: irate(node_network_receive_packets_total{device=~"ens.*",instance=~"^(host|wind)-tc.*"}[5m]) > 100000
        for: 10m
        labels:
          severity: critical
          service: "ras-lu"
        annotations:
{% raw %}          description: "RAS High Network Packets Receive: {{ $value }} packet/s on {{ $labels.alias }} > 100 kp/s"
          summary: "RAS High Network Packets Receive"
{% endraw %}

      - alert: RAS:High:Network:Packets:Transmit
        expr: irate(node_network_transmit_packets_total{device=~"ens.*",instance=~"^(host|wind)-tc.*"}[5m]) > 100000
        for: 10m
        labels:
          severity: critical
          service: "ras-lu"
        annotations:
{% raw %}          description: "RAS High Network Packets Transmit: {{ $value }} packet/s on {{ $labels.alias }} > 100 kp/s"
          summary: "RAS High Network Packets Transmit"
{% endraw %}

      - alert: RAS:High:Network:Volume:Receive
        expr: irate(node_network_receive_bytes_total{device=~"ens.*",instance=~"^(host|wind)-tc.*"}[5m]) * 8 > 9e+08
        for: 10m
        labels:
          severity: critical
          service: "ras-lu"
        annotations:
{% raw %}          description: "RAS High Network Volume Receive: {{ $value }} bit/s on {{ $labels.alias }} > 900 Mb/s"
          summary: "RAS High Network Volume Receive"
{% endraw %}

      - alert: RAS:High:Network:Volume:Transmit
        expr: irate(node_network_transmit_bytes_total{device=~"ens.*",instance=~"^(host|wind)-tc.*"}[5m]) * 8 > 9e+08
        for: 10m
        labels:
          severity: critical
          service: "ras-lu"
        annotations:
{% raw %}          description: "RAS High Network Volume Transmit: {{ $value }} bit/s on {{ $labels.alias }} > 900 Mb/s"
          summary: "RAS High Network Volume Transmit"
{% endraw %}

      - alert: RAS:High:LocalFW:Sessions
        expr: node_nf_conntrack_entries{instance=~"^(host|wind)-tc.*"} / node_nf_conntrack_entries_limit{instance=~"^(host|wind)-tc.*"} * 100 > 80
        labels:
          severity: critical
          service: "ras-lu"
        annotations:
{% raw %}          description: "RAS High LocalFW Sessions: {{ $value }} % Local FW Sessions on {{ $labels.alias }} > 80%"
          summary: "RAS High LocalFW Sessions"
{% endraw %}
