---
# roles/prometheus

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['localhost:9090']
    metrics_path: /metrics

{% set netbox_protocol, netbox_target = prometheus_project.netbox_url.split("://") %}
  - job_name: netbox
    scheme: {{ netbox_protocol }}
    static_configs:
      - targets: ['{{ netbox_target.split("/")[0] }}']
    metrics_path: /metrics

  - job_name: node_exporter
    http_sd_configs:
      - url: "{{ prometheus_project.netbox_url }}/api/plugins/prometheus-sd/virtual-machines/?tag=monitoring"
        authorization:
          type: Token
          credentials: "{{ prometheus_project.netbox_token }}"
        tls_config:
          insecure_skip_verify: true
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: "(.*)"
        replacement: "$1:9100"
      - source_labels: [__address__]
        target_label: __address__
        regex: "(.*)"
        replacement: "$1:9100"
      - source_labels: [__meta_netbox_tag_slugs]
        target_label: "function"
        regex: "(.*)"
      - source_labels: [__meta_netbox_name]
        target_label: "alias"
        regex: "(.*)"

  - job_name: 'netbox_to_prometheus_dns_record'
    http_sd_configs:
        - url: "http://netbox_to_prometheus:1880/api/netbox-dns/?tag=monitoring"
          basic_auth:
            username: "{{ prometheus_project.netbox_to_prometheus_agent_secret_user }}"
            password: "{{ prometheus_project.netbox_to_prometheus_agent_secret_password }}"
    metrics_path: "/snet/metrics"
    relabel_configs:
      - source_labels: [__address__, __meta_zone__]
        target_label: __address__
        separator: "."
        regex: "(.*)"
        replacement: "$1"
      - source_labels: [__meta_view__]
        target_label: "view"
        regex: "(.*)"
      - source_labels: [__meta_zone__]
        target_label: "zone"
        regex: "(.*)"

  - job_name: 'netbox-docker-agent'
    http_sd_configs:
      - url: "{{ prometheus_project.netbox_url }}/api/plugins/prometheus-sd/virtual-machines/?tag=netbox-docker-agent"
        authorization:
          type: Token
          credentials: "{{ prometheus_project.netbox_token }}"
        tls_config:
          insecure_skip_verify: true
    basic_auth:
      username: "{{ prometheus_project.docker_agent_secret_user }}"
      password: "{{ prometheus_project.docker_agent_secret_password }}"
    metrics_path: "/metrics"
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: "(.*)"
        replacement: "$1:1880"
      - source_labels: [__address__]
        target_label: __address__
        regex: "(.*)"
        replacement: "$1:1880"
      - source_labels: [__meta_netbox_tags]
        regex: '.*(netbox-docker-agent).*'
        action: keep

  - job_name: ovpn
    http_sd_configs:
      - url: "{{ prometheus_project.netbox_url }}/api/plugins/prometheus-sd/virtual-machines/?tag=ovpn_monitoring"
        authorization:
          type: Token
          credentials: "{{ prometheus_project.netbox_token }}"
        tls_config:
          insecure_skip_verify: true
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: "(.*)"
        replacement: "$1:9234"
      - source_labels: [__address__]
        target_label: __address__
        regex: "(.*)"
        replacement: "$1:9234"
      - source_labels: [__meta_netbox_tag_slugs]
        target_label: "function"
        regex: "(.*)"
      - source_labels: [__meta_netbox_name]
        target_label: "alias"
        regex: "(.*)"

  - job_name: 'blackbox_http_2xx'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
{% for target in prometheus_rules.http_2xx %}
        - {{ target }}
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9115

{% for target in prometheus_rules.resolve %}
  - job_name: "blackbox_resolve_{{ target }}"
    metrics_path: /probe
    params:
      module: [resolve_{{ target }}]
    static_configs:
      - targets:
        - {{ prometheus_rules.resolver }}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9115
{% endfor %}

  - job_name: "blackbox_ping"
    metrics_path: /probe
    params:
      module: [ping]
    static_configs:
      - targets:
{% for target in prometheus_rules.ping %}
        - {{ target }}
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ inventory_hostname }}:9115

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - {{ inventory_hostname }}:9093

rule_files:
  - /etc/prometheus/rules.yml
