---
services:

    netbox_to_prometheus:
        image: code.europa.eu:4567/digit-c4/sys-docker/netbox_to_prometheus:v0.2.1
        container_name: netbox_to_prometheus
        restart: unless-stopped
        hostname: netbox_to_prometheus
        environment:
            - "NETBOX_URL={{ prometheus_project.netbox_url }}"
            - "NETBOX_TOKEN={{ prometheus_project.netbox_token }}"
{% if traefik %}
        networks:
            - traefik_traefiknet
{% else %}
        networks:
            - prometheus
{% endif %}

    prometheus:
        image: prom/prometheus:{{ prometheus_project.prometheus_image }}
        container_name: prometheus
        restart: unless-stopped
        volumes:
            - {{ prometheus_project.path }}/etc_prometheus:/etc/prometheus
            - data:/prometheus
        command:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.path=/prometheus"
            - "--storage.tsdb.retention.time=13w"
{% if traefik %}
        ports:
            - '9090'
        labels:
            - "traefik.http.routers.redmine-http.rule=Host(`{{ prometheus_project.san }}`)"
            - "traefik.http.routers.redmine-http.entrypoints=web-secure"
            - "traefik.http.routers.redmine-http.tls=true"
        networks:
            - traefik_traefiknet
            
networks:
    traefik_traefiknet:
        external: true
{% else %}
        ports:
            - '9090:9090'
        networks:
            - prometheus

networks:
    prometheus:
{% endif %}

volumes:
    data:
