{{ ansible_managed | comment }}

# Debian specific:  Specifying a file name will cause the first
# line of that file to be used as the name.  The Debian default
# is /etc/mailname.
#myorigin = /etc/mailname

smtpd_banner = $myhostname ESMTP $mail_name (SNET Debian/GNU)
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

readme_directory = no

{% set snet_mail_cert = "/var/lib/puppet/ssl/certs/" + ansible_fqdn + ".pem" -%}
{% set snet_mail_key = "/var/lib/puppet/ssl/private_keys/" + ansible_fqdn + ".pem" -%}

# TLS parameters
#smtpd_tls_cert_file={{ snet_mail_cert }}
#smtpd_tls_key_file={{ snet_mail_key }}
#smtpd_use_tls=yes
#smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
#smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = /etc/mailname
{% if postfix_snet_mail_server: %}
relayhost = {{ postfix_snet_mail_relay_server }}
{% else %}
relayhost = {{ postfix_snet_mail_relay }}
{% endif %}

{% if postfix_snet_mail_server: %}
mynetworks =  {{ postfix_snet_mail_acl["server"]|join(' ') }}
{% else %}
mynetworks =  {{ postfix_snet_mail_acl["client"]|join(' ') }}
{% endif %}

mailbox_command = procmail -a "$EXTENSION"
mailbox_size_limit = 0
recipient_delimiter = +
virtual_alias_maps = hash:/etc/postfix/virtual
mydestination = {{ ansible_fqdn }}, {{ ansible_hostname }}, localhost.localdomain, localhost
myhostname = {{ ansible_fqdn }}
{% if postfix_snet_mail_server: %}
inet_interfaces = all
inet_protocols = all
disable_dns_lookups =  yes
# Mail from user@hostname.{{ domain }} -> user@{{ domain }}
masquerade_domains = "{{ domain }}"
# rewrite the from in the smtp action
smtp_generic_maps = regexp:/etc/postfix/generic_map.regexp
# if not email are not delivred.
default_destination_rate_delay = 10s
default_destination_concurrency_failed_cohort_limit = 10
{% else %}
inet_interfaces = loopback-only
{% endif %}
