{{ ansible_managed | comment }}
# /etc/aliases
mailer-daemon: postmaster
postmaster: root
nobody: root
hostmaster: root
usenet: root
news: root
webmaster: root
www: root
ftp: root
abuse: root
noc: root
security: root
{% if snet_environment == "production": -%}
root: snet
{% else -%}
root: devnull
devnull: /dev/null
{% endif -%}
