####################
#   CONF ANSIBLE   #
####################

mtpd_banner = $myhostname ESMTP $mail_name (SNET Debian/GNU)
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

readme_directory = no


# TLS parameters
smtpd_tls_cert_file=/var/lib/puppet/ssl/certs/{{ groups['service_vworker-dev'] | join(', ') }}.pem
smtpd_tls_key_file=/var/lib/puppet/ssl/private_keys/{{ groups['service_vworker-dev'] | join(', ') }}.pem
smtpd_use_tls=yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = /etc/mailname
relayhost = {{ groups['service_smtp'] | join(', ') }}
mynetworks =  127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
mailbox_command = procmail -a "$EXTENSION"
mailbox_size_limit = 0
recipient_delimiter = +
virtual_alias_maps = hash:/etc/postfix/virtual
mydestination = {{ groups['service_vworker-dev'] | join(', ') }}, vworker-dev, localhost.localdomain, localhost
myhostname = {{ groups['service_vworker-dev'] | join(', ') }}
inet_interfaces = loopback-only
