---
# roles/alert_manager

global:
  # ResolveTimeout is the time after which an alert is declared resolved
  # if it has not been updated.
  resolve_timeout: 1h

route:
  group_by: ['alertname', 'instance']
  # When a new group of alerts is created by an incoming alert, wait at
  # least 'group_wait' to send the initial notification.
  # This way ensures that you get multiple alerts for the same group that start
  # firing shortly after another are batched together on the first
  # notification.
  group_wait: 30s

  # When the first notification was sent, wait 'group_interval' to send a batch
  # of new alerts that started firing for that group.
  group_interval: 2m

  # If an alert has successfully been sent, wait 'repeat_interval' to
  # resend them.
  repeat_interval: 3h

  receiver: "{{ receiver }}"

receivers:
  - name: {{ receiver }}
    webhook_configs:
    - url: "http://{{ inventory_hostname }}:9101"
    - url: "http://{{ inventory_hostname }}:9102"

# Inhibition rules allow to mute a set of alerts given that another alert is
# firing.
# We use this to mute any warning-level notifications if the same alert is
# already critical.
inhibit_rules:
- source_matchers:
    - severity = "critical"
  target_matchers:
    - severity = "critical"
  # Apply inhibition if the alertname is the same.
  equal: ['alertname', 'instance']
