# /etc/crontab: system-wide crontab
{{ansible_managed | comment() }}
#
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m h dom mon dow user  command
{{cron_cronhourly | replace("'", "") }}  * * * * root    cd / && run-parts --report /etc/cron.hourly
{{cron_crondaily | replace("'", "") }} {{cron_cronbasehour | replace("'", "")}}  * * * root  test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
{{cron_cronweekly | replace("'", "") }} {{cron_cronbasehour | replace("'", "")}} * * 7 root  test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
{{cron_cronmonthly | replace("'", "")}} {{cron_cronbasehour | replace("'", "") }} 1 * * root  test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
{% if cron_cronminute -%}
*/5 * * * * root  test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.minute )
{% endif -%}
#
