#!/usr/bin/perl
# ip_to_cron
{{ansible_managed|comment()}}
#
# provides a "random" value to cron based on the machine IP address.
# used to avoid starting a certain cron job at the same time on all servers.
# if used with no parameters, it will return a single value between 0-59
# first argument is the occurrence within a timeframe, for example if you want it to run 2 times per hour
# the second argument is the timeframe, by default its 60 minutes, but it could also be 24 hours etc
#
# ip_to_cron      - returns one value between 0..59
# ip_to_cron 2    - returns an array of two values between 0..59
# ip_to_cron 2 24 - returns an array of two values between 0..23
# 
# in bash/zsh mode:
#    CronData=(`common/usr/bin/SNet_ip_to_cron 4`)
#    echo ${CronData[@]}
#
# in sh/dash mode:
#    set -- `./SNet_ip_to_cron 4 | sed -e "s/'//g"` 
#    echo $1 $2 ...
#


use strict;
use warnings;

my $occours = $ARGV[0] || 1;
my $scope   = $ARGV[1] || 60;

my $ip      = `ip route show dev {{snet_interface_mgt_int}} | grep -v default | head -1 | awk '{ print \$7 }' | awk -F . '{print \$1+\$2+\$3+\$4}'`;
chomp( $ip );
my $base = $ip % $scope;

if ( $occours == 1 ) {
    print $base;
} else {
    for ( my $i = 0 ; $i < $occours ; $i++ ) {
        print "'" . ( ( $base - ( $scope / $occours * $i ) ) % $scope ) . "'";
        if ( !( ($i+1) == $occours ) ) {
            print " ";
        }
    }
}
