{{ ansible_managed|comment }}
127.0.0.1       localhost

{% if snet_interface_mgt: %}
{#% for item in uniquelistenaddress %#}
{% set real_key = "ansible_" + snet_interface_mgt_int %}
{% if ansible_fqdn in hostvars and real_key in hostvars[ansible_fqdn] and 'ipv4' in hostvars[ansible_fqdn][real_key]%}
{{hostvars[ansible_fqdn][real_key]['ipv4']['address']}} {{ ansible_fqdn|lower }} {{ ansible_hostname|lower }}
{% endif %}
{% if inventory_hostname in hostvars and real_key in hostvars[inventory_hostname] and 'ipv4' in hostvars[inventory_hostname][real_key] %}
# short: {{ inventory_hostname }}
{{hostvars[inventory_hostname][real_key]['ipv4']['address']}} {{ ansible_fqdn|lower }} {{ ansible_hostname|lower }}
{% endif %}
{% endif %}

{% for definition in hosts__additional_hosts %}
{{ definition.address }}{% for hostname in definition.hostnames %} {{ hostname }}{% endfor %} 

{% endfor %}

{% if hosts__default_ipv6 %}
# The following lines are desirable for IPv6 capable hosts
# Snet basic IPv6 entries adapted for networkers and others.
::1      localhost.localdomain   localhost localhost6.localdomain6  localhost6  ip6-localhost  ip6-loopback
fe00::0  ip6-localnet
ff00::0  ip6-mcastprefix
ff02::1  ip6-allnodes
ff02::2  ip6-allrouters
ff02::3  ip6-allhosts
{% endif %}

