{{ansible_managed|comment}}

# Check for interactive bash and that we haven't already been sourced.
[ -z "$BASH_VERSION" -o -z "$PS1" -o -n "$SNETPATH" ] && return

# get ride of /usr/local/games:/usr/games in PATH, we're not here to play
PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

if [ -d /opt/SNET/sbin ];
then
  PATH="/opt/SNET/sbin:$PATH"
fi

if [ -d /opt/SNET/bin ];
then
  PATH="/opt/SNET/bin:$PATH"
fi

SNETPATH="$PATH"

# set the TZ environment variable, avoid stat() on localtime for each file
TZ="Europe/Brussels"
