===============================================================================

               UNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED.
              COMMISSION DECISION C(95)1510 Article 5 paragraph 2

You  must  have  explicit, authorized  permission to access or  configure this
device.  Unauthorized attempts and  actions to access or use this  system  may
result in civil and/or criminal penalties.
All activities performed on this device are logged and monitored.

Vous devez avoir une autorisation pour acceder et/ou configurer cet equipement.
Des connexions non autorisees et des actions sur cet equipement peuvent aboutir
a des penalites civiles et/ou criminelles.
Toutes les activites executees sur ce  dispositif sont enregistrees et  contro-
lees.

===============================================================================
{{ ansible_lsb.description }} \n \l

