{{ ansible_managed | comment }}

#############################################################################
# Default syslog-ng.conf file which collects all local logs into a
# single file called /var/log/messages tailored to container usage.

@version: 4.1
@include "scl.conf"

source s_local {
  internal();
};

source s_network_tcp {
  syslog(transport(tcp) port(6601));
};

source s_network_udp {
  syslog(transport(udp) port(514));
};

destination d_local {
  file("/var/log/messages");
};

{% for d in syslog_server_dh_destinations.values() %}
destination dh_{{ d.dest_name }} {
  network(
    "{{ vars[ d.dest_name ] }}"
    port({{ d.port }})
    transport("{{ d.session }}")
    template("<$PRI> ${ISODATE} ${HOST} {{ bubble_name | upper }}: ${MSGHDR}${MESSAGE}\n")
    template_escape(no)
    keep-alive(yes)
  );
};
{% endfor %}

destination dh_openobserve {
  http(
    url("http://{{ openobserve_host }}:5080/api/default/default/_json")
    user("{{ openobserve_username }}")
    password("{{ openobserve_password }}")
    method("POST")
    headers("Content-Type: application/json")
    body("[$(format-json --scope all-nv-pairs)]")
  );
};

log {
  source(s_local);
  source(s_network_tcp);
  source(s_network_udp);
  destination(d_local);
  destination(dh_openobserve);
  {% for d in syslog_server_dh_destinations.values() %}
  destination(dh_{{ d.dest_name }});
  {% endfor %}
};
