{{ ansible_managed | comment }}

---
version: "2.1"
services:
  syslog-ng:
    image: lscr.io/linuxserver/syslog-ng:latest
    container_name: syslog-ng
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=CET
    volumes:
      - /opt/SNet/container/syslog/config:/config
      - /opt/SNet/container/syslog/logs:/var/log
    ports:
      - 514:514/udp
      - 6601:6601/tcp
      - 6514:6514/tcp
    restart: unless-stopped
