auto {{ data.name }}
iface {{ data.name }}
    address {{ data.ipaddress }}

    post-up /etc/network/snet-scripts/routing/up-{{ data.name }}
    post-up /etc/network/snet-scripts/ruling/up-{{ data.name }}

    post-down /etc/network/snet-script/ruling/down-{{ data.name }}
    post-down /etc/network/snet-scripts/routing/down-{{ data.name }}
