[Unit] 
Description=Prometheus Webhoob SNMP Trapper Lux
After=local-fs.target network-online.target network.target syslog.target
Wants=local-fs.target network-online.target network.target syslog.target

[Service]
Type=simple
User=root
Group=root
Restart=on-failure
WorkingDirectory={{ webhook_snmp_trap_webhook_snmptrapper_link }}/
PermissionsStartOnly=true
RuntimeDirectory=webhook_snmptrapper
RuntimeDirectoryMode=0750
ExecStart={{ webhook_snmp_trap_webhook_snmptrapper_link }}/webhook_snmptrapper -snmpcommunity {{ smarts_trap_community }} -webhookaddress :9101 -snmptrapaddress {{ smarts_trap_receiver1 }}:162
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
