#!/bin/bash
{{ansible_managed|comment}}
if [ -x /usr/bin/perltidy.ansible ]; then
  perltidy.ansible -pro=/etc/perl/perltidyrc "$@"
elif [ -x /usr/bin/perltidy.puppet ]; then
  perltidy.puppet -pro=/etc/perl/perltidyrc "$@"
else
  exit 1
fi
exit $?
