{{ ansible_managed | comment }}
# roles/syslog_server_tls

/opt/SNet/container/syslog/logs/messages
/opt/SNet/container/syslog/logs/messages-kv.log {
    daily
    rotate 3
    missingok
    notifempty
    compress
    delaycompress
    postrotate
            docker exec syslog-ng sh -c "kill -HUP \$(pgrep -o syslog-ng)"
    endscript
}
