{{ ansible_managed | comment }}
# roles/syslog_server_tls

#############################################################################
# Default syslog-ng.conf file which collects all local logs into a
# single file called /var/log/messages tailored to container usage.

@version: 4.1
@include "scl.conf"

source s_local {
  internal();
};

source s_network_tcp {
  tcp(ip(0.0.0.0) port(601));
};

source s_network_udp {
  udp(ip(0.0.0.0) port(514));
};

destination d_local {
  file("/var/log/messages");
};

{%for key, value in syslog_central.items() %}
destination dh_vsyslog_{{ key }}_tls {
  network(
    "{{ value }}"
    port({{ remote_syslog_port }})
    transport("tls")
    tls(
      peer-verify(required-trusted)
      ca-dir('/etc/ssl/certs/')
      key-file('/config/ssl/{{ inventory_hostname_short }}-export.pem')
      cert-file('/config/ssl/{{ inventory_hostname_short }}-signed.pem')
    )
    template("<$PRI> ${ISODATE} ${HOST} {{ bubble_name |upper }}: ${MSGHDR}${MESSAGE}\n")
    template_escape(no)
    keep-alive(yes)
  );
};
{% endfor %}

destination dh_openobserve {
  http(
    url("http://{{ openobserve_host }}:5080/api/default/default/_json")
    user("{{ openobserve_username }}")
    password("{{ openobserve_password }}")
    method("POST")
    headers("Content-Type: application/json")
    body("[$(format-json --scope all-nv-pairs)]")
  );
};

log {
  source(s_local);
  source(s_network_udp);
  source(s_network_tcp);
  destination(d_local);
  destination(dh_openobserve);
{%for key, value in syslog_central.items() %}
  destination(dh_vsyslog_{{ key }}_tls);
{% endfor %}
};
