---
{{ ansible_managed | comment }}
# roles/syslog_server_tls

services:
  syslog-ng:
    image: lscr.io/linuxserver/syslog-ng:latest
    container_name: syslog-ng
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=CET
    volumes:
      - /opt/SNet/container/syslog/config:/config
      - /opt/SNet/container/syslog/logs:/var/log
      - /etc/ssl/certs:/etc/ssl/certs
      - /usr/local/share/ca-certificates:/usr/local/share/ca-certificates
    ports:
      - 514:514/udp
      - 601:601/tcp
      - 6514:6514/tcp
    restart: unless-stopped
