scrape_configs:
  - job_name: netbox
    static_configs:
      - targets: ['{{ ip }}']
    metrics_path: /metrics

  - job_name: node_exporter
    http_sd_configs:
      - url: "{{ ip }}/api/plugins/prometheus-sd/virtual-machines/?tag=monitoring"
        authorization:
          type: Token
          credentials: "{{ NETBOX_IS_TOKEN }}"
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: "(.*)"
        replacement: "$1:9100"
      - source_labels: [__address__]
        target_label: __address__
        regex: "(.*)"
        replacement: "$1:9100"
      - source_labels: [__meta_netbox_tags]
        regex: '.*(Monitoring).*'
        action: keep

  - job_name: 'netbox-docker-agent'
    http_sd_configs:
      - url: "{{ ip }}/api/plugins/prometheus-sd/virtual-machines/?tag=netbox-docker-agent"
        authorization:
          type: Token
          credentials: "{{ NETBOX_IS_TOKEN }}"
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: "(.*)"
        replacement: "$1:1880"
      - source_labels: [__address__]
        target_label: __address__
        regex: "(.*)"
        replacement: "$1:1880"
      - source_labels: [__meta_netbox_tags]
        regex: '.*(netbox-docker-agent).*'
        action: keep
    metrics_path: "/metrics"
    basic_auth:
      username: "{{ username }}"
      password: "{{ password }}"

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['{{ Alert_manager }}']

rule_files:
  - /etc/prometheus/rules.yml
