---
modules:

  http_2xx:
    prober: http
    timeout: 10s
    http:
      method: GET
      preferred_ip_protocol: "ip4"
      valid_status_codes: [200]
      tls_config:
        insecure_skip_verify: true

  http_3xx:
    prober: http
    timeout: 10s
    http:
      method: GET
      preferred_ip_protocol: "ip4"
      valid_status_codes: [301]
      tls_config:
        insecure_skip_verify: true

  http_403:
    prober: http
    timeout: 10s
    http:
      method: GET
      preferred_ip_protocol: "ip4"
      valid_status_codes: [403]
      tls_config:
        insecure_skip_verify: true

{% for fqdn in blackbox_fqdn_list %}
  resolve_{{ fqdn }}:
    prober: dns
    timeout: 5s
    dns:
      query_name: "{{ fqdn }}"
      query_type: "A"
      preferred_ip_protocol: "ip4"
      dns_over_tls: false
      valid_rcodes:
        - NOERROR

{% endfor %}

  ping:
    prober: icmp
    icmp:
      preferred_ip_protocol: "ip4"
