---
services:
  blackbox_exporter:
    image: prom/blackbox-exporter
    container_name: blackbox
    restart: unless-stopped
    volumes:
      - {{ blackbox_project.path }}/config.yml:/etc/blackbox_exporter/config.yml
    ports:
      - 9115:9115
    networks:
      - prometheus_prometheus

networks:
  prometheus_prometheus:
    external: true
