---
services:

  grafana:
    image: grafana/grafana-enterprise:{{ grafana_project.grafana_image }}
    container_name: grafana
    restart: unless-stopped
    volumes:
      - {{ grafana_project.path }}/etc_grafana:/etc/grafana
      - data:/var/lib/grafana
    ports:
      - '3000:3000'
    networks:
      - prometheus_prometheus

networks:
  prometheus_prometheus:
    external: true

volumes:
  data: