app_mode = production

[analytics]
reporting_enabled = false
check_for_updates = false
check_for_plugin_updates = false

[auth]
login_cookie_name = grafana_sess
login_maximum_inactive_lifetime_days = 7
login_maximum_lifetime_days = 7

#[auth.anonymous]
#enabled = true
#org_name = Snet
#org_role = Viewer

[log]
buffer_len = 10000
level = info
mode = console, file

[log.console]
level = info

[log.file]
daily_rotate = true
level = info
log_rotate = true
max_days = 7
max_lines = 1000000
max_size_shift = 28

#[log.syslog]
#address = 127.0.0.1
#facility = daemon
#format = text
#level = info
#network = udp

[security]
admin_user = "{{ grafana_project.admin_user.login }}"
admin_password = "{{ grafana_project.admin_user.password }}"
login_remember_days = 7
secret_key = "{{ grafana_project.secret_key }}"

[server]
enable_gzip = true

[users]
allow_org_create = false
allow_sign_up = false
auto_assign_org = true
auto_assign_org_role = Viewer
login_hint = Local user