apiVersion: 1

deleteDatasources:
  - name: "{{ grafana_project.datasource.name }}"
    orgId: 1

datasources:
  - name: "{{ grafana_project.datasource.name }}"
    type: "prometheus"
    url: "{{ grafana_project.datasource.url }}"
    user: ""
    database: ""
    access: "proxy"
    basicAuth: false
    basicAuthUser: ""
    withCredentials: false
    isDefault: true
    version: 3
    readOnly: false
    uid: "000000001"
    jsonData:
      httpMethod: "POST"