{{ ansible_managed | comment }}
{% if ansible_distribution_release == 'jessie' %}
deb http://{{ groups['service_debian_proxy'] | join(', ') }} snet/
{% else %}
deb http://{{ groups['service_debian_proxy'] | join(', ') }} snet-{{ansible_distribution_release}}/
{% endif %}
