{{ ansible_managed | comment }}
# If any specific-form records match an available package version then
# the first such record determines the priority of the package version.
# Failing that, if any general-form records match an available package
# version then the first such record determines the priority of the
# package version.

# see man apt_preferences and apt-cache policy for pinning release options

Package: *
Pin: origin "debian.snmc.cec.eu.int"
Pin-Priority: 990

Package: *
Pin: release l=Debian-Security
Pin-Priority: 990
