table {
  border-collapse: collapse;
}
table th,
table td {
  vertical-align: middle !important;
  text-align: left;
  padding: 8px 16px;
  border: 1px solid #e9ecef;
}

div.leftside {
  width: 43%;
  padding: 0px 3px 0px 0px;
  float: left;
}
div.rightside {
  margin-left: 45%;
  /* float: right; */
}
div.row {
  margin-bottom: 80px;
}

